{% extends "base.html" %}
{% block titulo%} <title>Contactos</title> {% endblock %}
{% block contenido %}

{% block js %}
<script>
  function myMessage(id) {
      Swal.fire({
          title: "¿Desea eliminar este contacto?",
          text: "¡Esta acción no se puede retornar!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Si, eliminar",
          cancelButtonText: "No, cancelar",
          reverseButtons: true
      }).then((result) => {
          if (result.isConfirmed) {
              Swal.fire({
                  title: "¡Borrado!",
                  text: "¡El contacto ha sido borrado!",
                  icon: "success"
              });
              window.location.href = 'eliminar/'+id;
          }
      });
  }
</script>
{% endblock %}

<div class="container">
    <div class="row">
      
        <div class="col-lg-12 text-center">
            <h1>Listado de Contactos</h1>
            <hr>
            <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mensaje</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    {% for contacto in contactos %}
                    <tr>
                        <td>{{contacto.nombre}}</td>
                        <td>{{contacto.email}}</td>
                        <td>{{contacto.Mensaje}}</td>
                        <td>
                          <a class="btn btn-outline-info" href="{% url 'editar_contacto' contacto.id %}" role="button"><i class="bi bi-pencil-fill"></i></a>
                          <a class="btn btn-outline-danger" onclick="myMessage({{contacto.id}})" href="#" role="button"><i class="bi bi-trash3"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
              </table>
        </div>
    </div>
</div>
{% endblock %}


