{% extends "base.html" %}

{% load static %}

{% block titulo%} 
<title>Crear Producto</title> 
<link rel="stylesheet" href="{% static 'css/crear_productos.css' %}">
<link rel="stylesheet" href="{% static 'css/formProductos.css' %}">

{% endblock %}

{% block contenido %}

    <div class="container mt-5 ">
        <div class=" shadow-lg mt-n9 ">
            <div class="row ">
                <div class="col-lg-12  p-5 order-lg-1 gradient-custom redondoborde">
                    {% include 'producto/form.html' %}
                </div>
                <!-- End Contact Form Wrapper -->
            </div>
        </div>
    </div>
{% endblock %}

